

<!-- <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script> -->

<div id="map-canvas"> </div>

<% @extra_head_content ||= capture do %>
  <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true' %>
<% end %>
